* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {


    background-color: #0045b5;
 
}

main {
    background-color: #FDDB35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto 40px;
    width: 375px;
    height:700px;
    padding: 44px 24px 23px;
    margin-top: 100px;
    border-radius: 20px;

}
section {
   background-color: antiquewhite;
   margin-top: 20px;
   border-radius: 10px;

}

#resultado {
    font-size: 15px;
    font-weight: 400;
}



img {
    width: 100px;
background-color: aliceblue;
padding: 20px;
border-radius: 30px;
margin-bottom: 20px;
  
}

h1{
    font-size: 25px;
    font-weight: 700;
}

p {
    font-size: 20px;
    margin: 10px;
    font-weight: 400;
}

input {
    padding:10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px;
}

button {
    background-color: #ff6900;
    padding: 10px;
    width: 90px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    color: #0c0c0c;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 3px 3px 3px;}

button:hover {
    opacity: 0.4;
}
button:active {
    opacity: 0.3;
}
